.item {
  border-left: 5px solid darkblue;
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 10px;
  margin: 0 10px;
  position: relative;
  .date {
    font-size: 0.8em;
    width: 200px;
    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: -7.5px;
      border-radius: 5px;
      width: 10px;
      height: 10px;
      background-color: cornflowerblue;
    }
  }
  .content {
    width: 100%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
  }
}
